.chromedia {
	button {
		&.btn-outline-primary{
			&:hover {
				background-color: transparent;
			}
		}

		&.close {
			margin-bottom: -1.25em;
			margin-right:  1.25em;
			margin-top:  0.625em;
		}

		&.btn-link {
			color: $ppp-third-color !important;
		}
	}
}