.chromedia {
	.form-group, .form-check {
		letter-spacing: 0;
		input, button, select, optgroup, textarea {

		}

		label {
			font-weight: bold;
			font-size: 15px;
			color: #4B4B4B;
		}

		input, select, button, textarea {
			background: #FFFFFF;
			border: 1px solid #828282;
			font-family: OpenSans-Semibold;

			&::placeholder {
				font-size: 16px;
				color: #EFEFEF;
			}

			&.is-invalid {
				border-color: $danger;
			}
		}

		.required {
			&::after {
				color: $danger;
				content: "  *";
			}
		}
	}

	.select-cards {
		label {
			width: 100%;
			border: 0.125em solid #C8C8C8;
			border-left: 1em solid #C8C8C8;
		}

		input[type=radio] {
	        		display: none;
	        		appearance: none;
	    	}

	    	input[type=radio]:checked + label {
        			border: 0.125em solid #444444;
			border-left: 1em solid #444444;
    		}
	}

}