
// COLOR VARIABLES
$ppp-prime-color: #76A340;
$ppp-second-color: #EB9327;
$ppp-third-color: #646567;


//FONT VARIABLES
$ppp-font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;