.chromedia{
	//------------ GLOBAL ELEMENTS / CLASS ------------
	color: $ppp-third-color;
	font-family: $ppp-font-family !important;
	-webkit-font-smoothing: antialiased;
	

	 a {
		color: $ppp-third-color;
		&:hover {
			color: $ppp-prime-color;
		}
		&.no-decor {
			text-decoration: none !important;
		}
	}

	h1, h2, h3, h4, h5 {
		font-weight: bold;
		color: $ppp-prime-color;
	}

	small {
		font-style: italic;
		font-size: 12px;
		color: #BBBBBB;
	}	

	//------------ ADDED CLASSES ------------

		// FORMATS
			.text-upper {
				text-transform: uppercase;
			}
			
			.text-normal {
				text-transform: none !important;
			}
			
			.text-font-weight-semibold {
				font-weight: 600;
			}

			.text-font-weight-normal {
				font-weight: normal;
			}
	
			.bold {
				font-weight: bold; 
			}

		// COLORS
			.txt-prime {
				color: $ppp-prime-color;
			}

			.txt-second {
				color: $ppp-second-color;
			}

			.txt-third {
				color: $ppp-third-color;
			}

			.text-muted {
				color: $ppp-muted-color !important;
			}

	//------------ CUSTOM CLASSES ------------

		.add-card {
			font-size: 25px !important;
		}

}